<section data-background-color="{{aqua_blue}}">
    <div class="container-lg-12">
        <div class="row g-2 justify-content-md-center>
            <div class="my-4 rounded-3 p-5">
                <div class="col-4">
                    <div class='container-flex h-100'>
                        <img class="image-flex" src="{{mugsy_avatar}}" height=300>
                        <div>
                            <a href="{{contact_url}}" class="btn btn-primary btn-lg m-2 text-white" type="button">{{contact_text}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-8 my-auto">
                    <div class="container">
                        <i class="fa fa-graduation-cap display-1 fa-10x" aria-hidden="true"></i>
                        <h1>Thank you for listening!</h1>
                        <p>If you have any questions feel free to email me <a href="mailto:{{email}}">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>