{% macro get_cols_bg(col_list, width, color) %}
<div class="row g-4">
    {% for col in col_list %}
    <div class="col-4">
        <div class ="container p-3 rounded-3"  style="background-color: {{color}}">
            <h4>{{ col[0] }}</h4>
            <p>{{ col[1] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro get_cols(col_list, width, color) %}
<div class="row g-4">
    {% for col in col_list %}
    <div class="col-4">
        <div class ="container p-3">
            <h4>{{ col[0] }}</h4>
            <p>{{ col[1] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro get_card(card_title, card_image, card_content) %}
<div class="card" style="width: 18rem;">
  <img src="{{ card_image }}" class="card-img-top" alt="card image">
  <div class="card-body">
    <h3 class="card-title">{{ card_title }}</h5>
    <p class="card-text">{{ card_content }}</p>
  </div>
</div>

{% endmacro %}