<section data-background-color="{{purple}}">
    <div class="container-lg-12">
        <div class="row g-2 my-auto">
            <div class="col-4">
                <div class='container-flex h-100'>
                    <img class="image-flex" src="{{mugsy_avatar}}" height=300>
                </div>
            </div>
            <div class="col-8 my-auto">
                <div class="container">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum nisi non ornare blandit. Pellentesque luctus commodo arcu non rutrum. Nullam rhoncus tempus elementum. Mauris mollis bibendum semper. </p>
                </div>
            </div>
        </div>
    </div>
</section>