{% from 'macros/list_macro.html' import get_list_group %}

<section data-background-color="{{blue}}">
    <div class="container">
        <h1>Title</h1>

        {% set items = [
            'Items of here in this section',
            'Items of here in this section',
            'Items of here in this section',
            'Items of here in this section',
            'Items of here in this section',
            'Items of here in this section',
        ]    
        %}

        {{ get_list_group(items) }}
    </div>
</section>