<section data-background-color="{{pink}}">
    <div class="container text-left">
        <h1>Title</h1>
        <div class="row g-4">
            <div class="col-4">
                <div class ="container p-3 rounded-3"  style="background-color: {{box_color}}">
                    <h4>Hello</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum nisi non ornare blandit. Pellentesque luctus commodo arcu non rutrum. Nullam rhoncus tempus elementum. Mauris mollis bibendum semper. Sed justo ex, malesuada vitae suscipit sit amet, consectetur sit amet velit.</p>
                </div>
            </div>
            <div class="col-4">
                <div class ="container p-3 rounded-3"  style="background-color: {{box_color}}">
                    <h4>Hello</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum nisi non ornare blandit. Pellentesque luctus commodo arcu non rutrum. Nullam rhoncus tempus elementum. Mauris mollis bibendum semper. Sed justo ex, malesuada vitae suscipit sit amet, consectetur sit amet velit.</p>
                </div>
            </div>
            <div class="col-4">
                <div class ="container p-3 rounded-3"  style="background-color: {{box_color}}">
                    <h4>Hello</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum nisi non ornare blandit. Pellentesque luctus commodo arcu non rutrum. Nullam rhoncus tempus elementum. Mauris mollis bibendum semper. Sed justo ex, malesuada vitae suscipit sit amet, consectetur sit amet velit.</p>
                </div>
            </div>
        </div>
    </div>
</section>