/**
 * Custom Bootstrap theme for reveal.js to match jennyn.ca.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Import swatch variables
@import "../bootstrap_custom/_variables.scss";


// Import fonts

$web-font-path: "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Ubuntu:wght@700&display=swap');

$heading_font: "Ubuntu";

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #000;
$headingColor: #000;

$mainFontSize: 24px;
$blockMargin: 10px;


$mainFont: Helvetica, sans-serif;
$headingFont: $headings-font-family, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 200;
$linkColor: $primary;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.8em;
$heading3Size: 1.6em;
$heading4Size: 1.4em;


// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal h1 {
  font-family: $heading_font, Helvetica, sans-serif !important; 
}

.reveal h1,  .reveal h2,  .reveal h3,  .reveal h4, .reveal h5, .reveal h6  {
  margin: 0 !important;
}

.reveal img {
  max-width: 100% !important;
  max-height: 100% !important;
}