/**
 * Custom Bootstrap theme for reveal.js to match jennyn.ca.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Import swatch variables
@import "../bootstrap_custom/_variables.scss";


// Import fonts

$web-font-path: "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: $secondary;
$headingColor: $secondary;

$mainFontSize: 30px;
$mainFont: $headings-font-family, Helvetica, sans-serif;
$headingFont: $headings-font-family, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 300;
$linkColor: $primary;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.8em;
$heading2Size: 1.3em;
$heading3Size: 1.2em;
$heading4Size: 1.1em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
